In [1]:
import tensorflow as tf

In [2]:
print(tf.__version__)

2.5.0

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("../Data/data1.txt",header=None,names=['Population','Profit'])
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [5]:
x=data.Population
y=data.Profit
#print(x,y)

In [6]:
model = tf.keras.Sequential()

In [7]:
model.add(tf.keras.layers.Dense(1,input_shape=(1,))) #out-dimen:1 ,  input-dimen: 1

In [8]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(optimizer='adam',
              loss='mse',
)

In [17]:
model.fit(x,y,epochs=10000,verbose=0) #when verbose=1ï¼Œtraining progress is displayed

In [18]:
params= model.get_weights()
print(params)

[array([[1.1939822]], dtype=float32), array([-3.8451233], dtype=float32)]